<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="css/index.css">
    <style>
        .head {
            /*color: #66CCFF;*/
            text-align: center;
        }

        .footer {
            color: #999;
            size: A4;
            text-align: center;
        }

        /*天依蓝*/
        .vocal {
            color: #66CCFF;
            text-align: center;
        }

        #formA {
            text-align: center;
        }

        .inputWidth {
            width:30%;
            align-items: end;
        }
    </style>

</head>
<body>
<!--主页 登陆界面-->
<!--vue-->
<div id="app">
    <h1 class="head"> {{head}}</h1>
    <div class="head">
        <img :src="url"/>
    </div>

    <el-dialog :visible.sync="dialogVisible" title="提示">
        <span>{{attention}}</span>
        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
        </span>
    </el-dialog>

    <el-form :model="form" ref="form" id="formA">
        <div>用户名:<el-input class="inputWidth" placeholder="请输入用户名" v-model="username" size="medium" clearable></el-input></div>
        <br>
        <div>密码&emsp;:<el-input class="inputWidth" placeholder="请输入密码" v-model="password" size="medium" show-password clearable></el-input></div>
        <br>
        <el-button type="success" onclick="location='regist.html'">注册</el-button>
        <el-button type="primary" @click="onSubmit(username, password)" >登陆</el-button>
    </el-form>
    <br>
    <div class="footer">
        {{foot}}
    </div>

</div>
<!--vue结束-->

</body>


<script src="js/vue.js"></script>
<script src="js/vue-router.js"></script>
<script src="js/index.js"></script>
<script src="js/axios.min.js"></script>
<script>


    var vm = new Vue({
        el: "#app",
        data: {
            head: "WORD GAME",
            foot: "皖ICP备19017745号-1",
            url: "./pic/index.jpg",
            closeDialog: function () {
                return {dialogVisible: false}
            },
            dialogVisible: false,
            attention: "提示",
            username: "",
            password : "",
        },
        methods: {
            onSubmit(_username, _password) {
                axios.get('/wordgame/user/login', {
                    params: {
                        username: _username,
                        password: _password
                    }
                }).then(function (response) {
                    if (response.data.code == 500){
                        alert(response.data.msg)
                    }
                    if (response.data.code == 0) {
                        // 跳转
                        window.location.href='main.html'
                    }
                })
            }
        }
    });

</script>


</html>

