<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="css/index.css">
    <link type="text/css" href="css/main.css" rel="stylesheet"/>

</head>
<body>

<!--vue-->
<div id="app">
    <h1 class="head"> {{head}}</h1>
    <div class="head">
        <img :src="url" width="50%" height="50%"/>
    </div>
    <br>
    <form enctype="text/plain" style="text-align: center">
        <div>用户名:
            <el-input class="inputWidth" placeholder="请输入用户名" v-model="username" size="medium" clearable></el-input>
        </div>
        <br>
        <div>密码&emsp;:
            <el-input class="inputWidth" placeholder="请输入密码" v-model="password" size="medium" show-password></el-input>
        </div>
        <br>
        <div>电话&emsp;:
            <el-input class="inputWidth" placeholder="请输入电话" v-model="phone" size="medium" clearable></el-input>
        </div>
        <br>
        <div>邮箱&emsp;:
            <el-input class="inputWidth" placeholder="请输入邮箱" v-model="email" size="medium" clearable></el-input>
        </div>
        <br>
        <el-button @click="regist(username, password,phone, email)" type="primary">注册</el-button>
        <el-button type="primary" onclick="location='index.html'">返回</el-button>
    </form>

    <br>

    <br>
    <div class="footer">
        {{foot}}
    </div>
    <!--<el-button @click="jump()" type="primary">跳转</el-button>-->
</div>
<!--vue结束-->

</body>
<script src="js/vue.js"></script>
<script src="js/vue-router.js"></script>
<script src="js/index.js"></script>
<script src="js/axios.min.js"></script>

<script>
    // 设置路由,跳转到登陆界面
    var routerObj = new VueRouter({
        // 不加上这个,跳转时会带#,美化了,history是老版的
        mode: 'history',
        routes: [
           // {path:'/login', redirect:'/wordgame/user/login'}
        ]
    });

    var vm = new Vue({
        el: "#app",
        data: {
            head: "用户注册",
            foot: "皖ICP备19017745号-1",
            url: "./pic/regist.jpg",
            username: "",
            password: "",
            phone: "",
            email: ""
        },
        methods: {
            regist: function (_username, _password, _phone, _email) {
                axios.post('/wordgame/user/regist', {
                        username: _username,
                        password: _password,
                        phone: _phone,
                        email: _email
                })
                    .then(function (response) {
                        alert(response.data.msg)
                        // console.info(response); 控制台打印信息
                        // console.error(response); 控制台打印错误信息
                        if (response.data.code == 0) {
                            // 跳转
                            window.location.href='index.html'
                            //this.$router.push({path:'/login'})
                        }
                    })
                    .catch(function (e) {
                    });
            },
       /*     jump: function () {
                this.$router.push({path:'/login'})
            }*/
        },
        router: routerObj
    });

</script>


</html>

